In [1]:
import pandas as pd

In [7]:
train_df = pd.read_csv("./trainse.csv")

In [9]:
train_df["build_year"].value_counts()

2014.0        919
2015.0        824
0.0           530
2013.0        464
1970.0        418
1969.0        407
1968.0        389
1967.0        384
1965.0        378
2016.0        375
1.0           368
1972.0        360
1974.0        357
1971.0        352
1966.0        348
1960.0        344
1962.0        338
1973.0        333
1963.0        325
1964.0        315
1975.0        309
1961.0        297
1976.0        263
1977.0        260
2006.0        242
1979.0        236
1978.0        235
2008.0        234
2012.0        233
1980.0        226
             ...
1912.0          5
1947.0          4
1949.0          3
1914.0          3
1924.0          3
1941.0          2
3.0             2
1943.0          2
1860.0          2
1896.0          2
1946.0          2
1907.0          2
1900.0          2
1895.0          1
1691.0          1
20052009.0      1
1911.0          1
2018.0          1
215.0           1
1886.0          1
1905.0          1
4965.0          1
1906.0          1
1920.0          1
1925.0          1
1948.0          1
1904.0          1
71.0            1
20.0            1
1876.0          1
Name: build_year, Length: 119, dtype: int64

In [11]:
train_df["full_sq"].value_counts()

38     1928
37     1232
39     1013
44     1008
45      943
40      860
32      846
43      832
41      764
51      750
42      695
53      665
52      654
60      635
63      628
34      614
35      613
64      608
58      576
59      575
54      567
36      544
61      543
31      516
46      479
62      474
79      470
74      466
57      466
56      447
       ...
173       1
189       1
461       1
637       1
145       1
193       1
177       1
195       1
291       1
388       1
5         1
325       1
6         1
182       1
199       1
226       1
210       1
215       1
407       1
207       1
168       1
184       1
216       1
9         1
185       1
729       1
10        1
353       1
186       1
303       1
Name: full_sq, Length: 211, dtype: int64

In [12]:
train_df["life_sq"].value_counts()

19.0     2138
30.0     1565
18.0     1544
20.0     1208
28.0     1067
29.0      804
32.0      701
27.0      700
17.0      699
44.0      695
45.0      626
43.0      626
38.0      534
31.0      520
21.0      518
34.0      503
33.0      461
37.0      402
1.0       390
46.0      386
22.0      379
26.0      373
40.0      367
42.0      346
23.0      317
41.0      293
16.0      282
39.0      280
36.0      263
35.0      241
         ...
174.0       1
637.0       1
232.0       1
109.0       1
162.0       1
163.0       1
209.0       1
147.0       1
802.0       1
195.0       1
167.0       1
407.0       1
301.0       1
259.0       1
179.0       1
111.0       1
426.0       1
136.0       1
325.0       1
172.0       1
191.0       1
150.0       1
183.0       1
130.0       1
176.0       1
143.0       1
145.0       1
435.0       1
157.0       1
458.0       1
Name: life_sq, Length: 175, dtype: int64

In [17]:
inplace1 = (train_df["full_sq"] < train_df["life_sq"]) & (train_df["full_sq"] < 10)
inplace1.value_counts()

False    30464
True         7
dtype: int64

In [18]:
inplace2 = train_df["life_sq"] < 2
inplace2.value_counts()

False    30036
True       435
Name: life_sq, dtype: int64

In [26]:
inplace3 = (train_df["full_sq"] < train_df["life_sq"]) & (train_df["life_sq"] > 100)
inplace3.value_counts()

False    30458
True        13
dtype: int64

In [ ]:
train_df["build_age"] = train_df["year"] - train_df["build_year"]

In [ ]:
train_df["life_full_ratio"] = train_df["life_sq"] / train_df["full_sq"]

In [ ]:
train_df["floor_position"] = train_df["floor"] / train_df["max_floor"]