In [1]:
import numpy as np
import pandas as pd

In [2]:
re1 = pd.read_csv("./same_result.csv")
re2 = pd.read_csv("./TryAgain5.csv")
re3 = pd.read_csv("./628_2.csv")

In [3]:
re1["price_doc"] = np.exp(0.8 * np.log(re1.price_doc) + 0.2 * np.log(re2.price_doc))

In [4]:
re1["price_doc"] = np.exp(0.9 * np.log(re1.price_doc) + 0.1 * np.log(re3.price_doc))

In [5]:
re1.head()

      id     price_doc
0  30474  5.329917e+06
1  30475  8.036215e+06
2  30476  5.223678e+06
3  30477  5.728423e+06
4  30478  4.991201e+06

In [6]:
re1.to_csv('628_3_final.csv', index=False)