In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("./train.csv")

In [3]:
train_df["full_sq"].value_counts()

38     1928
37     1232
39     1013
44     1008
45      943
40      860
32      846
43      832
41      764
51      750
42      695
53      665
52      654
60      635
63      628
34      614
35      613
64      608
58      576
59      575
54      567
36      544
61      543
31      516
46      479
62      474
79      470
74      466
57      466
56      447
       ...
173       1
189       1
461       1
637       1
145       1
193       1
177       1
195       1
291       1
388       1
5         1
325       1
6         1
182       1
199       1
226       1
210       1
215       1
407       1
207       1
168       1
184       1
216       1
9         1
185       1
729       1
10        1
353       1
186       1
303       1
Name: full_sq, Length: 211, dtype: int64

In [6]:
train_df[train_df["full_sq"] == 9]["price_doc"]

1188    6300000
Name: price_doc, dtype: int64

In [7]:
train_df = train_df.replace({"no": -1, "yes": 1})
test_df = test_df.replace({"no": -1, "yes": 1})

NameError: name 'test_df' is not defined